.DS_Store
node_modules
#temp allowing the dist in git for heroku deploy later can do the build in herkou and ignore it again and cut from repo
#/dist
#dist/


# local env files
.env.local
.env.*.local
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# secrets
ssl-localhost/
ssl/